﻿@import 'nativescript-theme-core/css/core.light.css';

.centered {
  text-align: center;
}

.table {
  margin: 0 20 0 20;
  height: 180;
  border-width: 1;
  border-color: #000000;
}

.table .table-cell {
  height: 50;
  padding: 10;
  border-width: 1;
  border-color: #000000;
}

.table .table-cell.label {
  font-weight: bold;
}

.table .table-cell.valid {
  color: green;
}
.table .table-cell.invalid {
  color: red;
}

.screen-shot-btn {
  border-width: 1;
  border-radius: 25;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 5;
}